* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}



:root {
    --dark:#1A1A1A;
    --lightd:#2C394B;
    --ulightd:#334756;
    --lightred:#FF4C29;
    --text:#fcff32;
    --text2:#fcff32;
}

.containerforaboutme {
    margin-top: 10%;
    position: fixed;
    left: 50px;
}

.containerbackground {
    color: var(--lightd);
    font-family: 'Rampart One', cursive;
}

.rotation1 {
    transform: skewY(20deg);
}

.rotation2 {
    transform: skewY(-10deg);
}

.rotation3 {
    transform: skewY(-30deg);
}
.slide-in {
    font-size: 1.7em;
    border: 0;
    border-radius: .1em;
    animation: slideMe .7s ease-in-out;
}

.slide-in-p {
    font-size: 1.7em;
    border: 0;
    border-radius: .1em;
    animation: slideMe .9s ease-in-out;
}

.slide-in-p2 {
    font-size: 1.7em;
    border: 0;
    border-radius: .1em;
    animation: slideMe 1.1s ease-in-out;
}

.slide-in-p3 {
    font-size: 1.7em;
    border: 0;
    border-radius: .1em;
    animation: slideMe 1.3s ease-in-out;
}

@keyframes slideMe {
    0% {
        transform: skew(0deg) translateX(-200px);
    }

    100% {
        transform: skew(0deg);
    }
}

.otext {
    text-align: center;
    font-size: 75px;
    color: var(--text);
    text-decoration: none;
}

.otexthomebutton {
    font-size: 75px;
    color: var(--text);
    text-decoration: none;
    position: relative;
    left: 750px;
}

.text {
    color: var(--text);
    text-align: center;
}

.navlinks {
    text-align: center;
    color: var(--text2);
    text-decoration: none;
    font-size: 25px;
}

.navlinksbeh::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(222, 238, 0);
    transition: width .3s

}

.navlinksbeh:hover::after {
    width: 100%;
    transition: width .3s;
}

li {
    display: inline-block;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: var(--dark);
}